<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/login.css">
    <title>Log In</title>
</head>
    <body>
        <div id="login">
            <img src="images/icons/loginIcon2.png" class="loginIcon"><br>
            <p class="strLogin">LOG IN</p>
            <input class="input" type="text" placeholder="Nome do Usuario"><br>
            <input class="input" type="password" placeholder="Senha"><br>
            <button class="bntLogin">Login</button>
        </div>
    </body>
</html>